body {
  font-family: sans-serif;
  margin: 40px;
}

h1 {
  color: black;
  margin-bottom: 5px;
}

p {
  color: gray;
}

#message {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid black;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* NUEVA CLASE: Cambia el fondo a verde claro al acertar */
.acertada {
  background-color: #a3e635; 
  cursor: default; /* Cambia el cursor para indicar que ya no se puede clicar */
}